.content {
    margin: inherit;
    padding: inherit;
    width: inherit;
    display: flex;
}

.blog {
    display: inherit;
    margin: inherit;
    justify-content: center;
    width: 98vw;
    padding: 3em 2em;
}