.navbar {
    margin: inherit;
    padding: inherit;
    width: inherit;
}

.nav-list {
    margin: inherit;
    padding: 1.5rem 0rem;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(14, 12, 12);
    list-style-type: none;
}

.list-item {
    color: #fff;
}