@charset "UTF-8";
.main {
  margin: inherit;
  padding: inherit;
  width: 100%;
  height: inherit;
  position: relative;
}

.main-image {
  margin: inherit;
  padding: inherit;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  background-image: url(../images/mainAs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: top;
  transition-duration: 2s;
}

/* Main Asilenbept colors */
/* Secondary Asilenbept colors */
.navbar {
  margin: inherit;
  padding: inherit;
  width: inherit;
  background-color: #000F15;
  border-top: 1px solid #FFFF9F;
}

.nav-list {
  margin: inherit;
  padding: 1.5rem 0rem;
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.list-item {
  color: #FFFF9F;
}

.main-content {
  margin: inherit;
  padding: inherit;
  width: inherit;
  position: absolute;
  top: 70vh;
  background-color: #fff;
}

/* Main Asilenbept colors */
/* Secondary Asilenbept colors */
.content {
  margin: inherit;
  padding: inherit;
  width: inherit;
  display: flex;
  width: 78%;
}

.blog {
  display: inherit;
  margin: inherit;
  width: inherit;
  justify-content: center;
  padding: 3em 2em;
}

#sidebar, .content {
  height: 600px;
  overflow: auto;
  float: left;
  transition: width 0.76s;
}

#sidebar {
  background: #BABE99;
  opacity: 1;
  width: 22%;
}

#sidebar.collapsed {
  width: 0;
}

#sidebar.collapsed + .content {
  width: 100%;
}

.sidebar-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: black;
  margin: 20px;
  cursor: pointer;
}

/* Main Asilenbept colors */
/* Secondary Asilenbept colors */
footer {
  display: grid;
  margin: inherit;
  padding: inherit;
  width: inherit;
  height: 30vh;
  background-color: #000F15;
  border-bottom: 1px solid #FFFF9F;
}

.main-footer {
  display: inherit;
  width: inherit;
  grid-template-columns: 21rem 10rem 10rem;
  justify-content: space-around;
  align-content: space-around;
}

.contact-area {
  display: flex;
  align-items: center;
  height: 3.2rem;
  border-radius: 5px;
  background-color: #FFFF9F;
  opacity: 0.9;
}

.contact-area i {
  font-size: 2em;
  margin: 0rem 1rem;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8hkiqn");
  src: url("../fonts/icomoon.eot?8hkiqn#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8hkiqn") format("truetype"), url("../fonts/icomoon.woff?8hkiqn") format("woff"), url("../fonts/icomoon.svg?8hkiqn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
  color: #36465d;
}

.icon-slack:before {
  content: "";
  color: #4a154b;
}

.icon-vk:before {
  content: "";
  color: #4680c2;
}

.icon-twitter:before {
  content: "";
  color: #1da1f2;
}

.icon-medium:before {
  content: "";
}

.icon-info:before {
  content: "";
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
